.header {
  position: relative;
  height: 985px;
  background-image: url('/background-images/mountains-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 16px;
}

.container__wrapper {
  display: flex;
  margin-bottom: 463px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--main-color);
  }

  .active-link {
    color: rgb(63, 63, 252);
    text-decoration: underline;
  }
}

#consult-btn {
  padding: 12px 24px;
}

.company__logo {
  margin-bottom: 9px;
}

.company__name {
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 7px;
}

.loading-img {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
}

.spinterest-btnner {
  animation: spin 1s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#tasks-wrapper {
  width: 127px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}
