<header class="header">
  <div class="container">
    <div class="container__wrapper justify-content">
      <div class="company">
        <div class="company__logo">
          <img src="/images/mountain-logo.svg" alt="logo" />
        </div>
        <div>
          <p class="company__name">{{ companyName }}</p>
        </div>
      </div>
      @for (nav of navigation; track nav.path) {
        <nav class="nav">
          <a
            [routerLink]="nav.path"
            routerLinkActive="active-link"
            id="nav-link-guide"
            [routerLinkActiveOptions]="{ exact: nav.path === '/'}"
            >{{ nav.label }}</a
          >
        </nav>
      }
      <button id="consult-btn" class="primary-btn fs-16 fw-600">Консультация</button>
      <div class="header-tasks">
        @if (widget === 'date') {
          <span>{{ today | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
        }
        @if (widget === 'counter') {
          <div class="click-btn tasks">
            <button id="click-plus" class="click fs-24" (click)="counter = counter + 1">+</button>
            <p class="count">{{ counter }}</p>
            <button
              id="click-minus"
              class="click fs-24"
              (click)="counter > 0 && (counter = counter - 1)"
              [disabled]="counter === 0"
            >
              -
            </button>
          </div>
        }
        <button
          id="tasks-wrapper"
          class="fs-16 tasks"
          (click)="toggleWidget(widget === 'date' ? 'counter' : 'date')"
        >
          {{ widget }}
        </button>
      </div>
    </div>
  </div>
</header>
