.header {
  position: relative;
  height: 985px;
  background-image: url('/background-images/mountains-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 16px;
}

.container__wrapper {
  display: flex;
  margin-bottom: 463px;
}

.nav {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--main-color);
  }
}

#consult__btn {
  padding: 12px 24px;
  color: var(--main-color);
  background-color: var(--btn-background);
  box-shadow: none;
  border: none;
  border-radius: 4px;
}

.company__logo {
  margin-bottom: 9px;
}

.company__name {
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 7px;
}

.header__slogan {
  width: 1080px;
  height: 150px;
  margin-bottom: 41px;
}

.slogan {
  font-size: 50px;
  line-height: 150%;
  color: var(--main-color);
}

.choice__field {
  display: flex;
  justify-content: center;
  padding: 40px 40px;
  background: #ffffff33;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.choice {
  width: 270px;
  option {
    color: var(--main-color);
  }

  label {
    font-size: 16px;
  }

  select {
    background: transparent;
    color: var(--main-color);
    border: none;
  }
}

.choose__subject {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  margin-bottom: 8px;
}

.choose__date-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url('/images/calendar-icon.svg') no-repeat center;
  background-size: contain;
  pointer-events: none;
}

.choose__date-input {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  color: transparent;
  user-select: none;
}

.choose__date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: block;
  cursor: pointer;
}

.form {
  display: flex;
  color: var(--main-color);
  align-items: center;
}

#search__btn {
  width: 213px;
  height: 52px;
  border: none;
  border-radius: 4px;
  color: var(--btn-background);
  line-height: 20px;
}
