@use './fonts';

* {
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #fdfdfd;
  --blog-color: #18121e;
  --secondary-color: #f2be22;
  --btn-background: #1a3e3e;
  --prime-background-color: #FFFFFF;
  --secondary-background-color: #F3F5F4; 
}

.header {
  position: relative;
}

.container {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

input {
  color: var(--main-color);
}

.primary-btn {
  color: var(--main-color);
  background-color: var(--btn-background);
  box-shadow: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.gap {
  gap: 24px;
}

.justify-content {
  justify-content: space-between;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.flex {
  display: flex;
}

.lh-20 {
  line-height: 20px;
}

.lh-32 {
  line-height: 32px;
}

.tasks {
  width: 113px;
  position: absolute;
  right: 10px;
  color: var(--main-color);
  border: 2px solid var(--btn-background);
  padding: 5px;
  background-color: transparent;
  outline: none;
}

.subtitle {
  text-align: center;
  color: var(--secondary-color);
  line-height: 20px;
}

.title {
  text-align: center;
  color: var(--blog-color);
  line-height: 120%;
}